.hero {
    background-image: url(https://img-eight-blue.vercel.app/hero.png);
    min-height: 768px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__container {
        display: flex;
        align-items: center;
        height: 768px;
        justify-content: start;
    }

    &__content {
        &__title {
            background-color: #F69023;
            width: 500px;
            color: white;
            font-size: 60px;
            padding: 10px;
            margin-bottom: 20px;
        }

        &__text{
            color: white;
            width: 600px;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 35px;
        }

        &__button{
            background-color: #0E6AB4;
            color: white;
            text-decoration: none;
            padding: 15px;
            font-weight: 600;
            transition: all .2s;
                &:hover{
                    background-color: #4192d4
                }
        }
    }

}